<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">        
        <div class="row gx-4 gx-lg-5">            
            <!-- Columna izquierda: Imágenes -->
            <div class="col-md-12">
                <div>
                    <h1 class="text-center">Datos de Usuario</h1>
                    <p class="text-center">Aquí puedes ver y editar la información de tu perfil.</p>    
                    <div class="table-responsive">
                        <table class="table table-bordered" style="border-color: gray;">
                            <thead>
                                <tr>
                                    <th>Nombre Usuario</th>
                                    <th>Correo Electrónico</th>
                                    <th>Password</th>
                                </tr>
                            </thead>
                            <tbody id="tabla-usuario" style="border-color: gray;">
                                <tr>
                                    <td id="nombreUsuario">{{ usuarioActivo.nombre }}</td>
                                    <td id="emailUsuario">{{ usuarioActivo.email }}</td>
                                    <td id="passwordUsuario">{{ usuarioActivo.password }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center my-3">
                            <button class="btn btn-primary" (click)="editarCorreoUsuario()">Editar Correo</button>
                        </div>

                        <div class="my-5">
                            <h2 class="text-center">Datos para el despacho</h2>
                            <form [formGroup]="despachoForm" (ngSubmit)="onGuardar()">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <label for="usuDireccion" class="form-label">Dirección</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="usuDireccion"
                                            formControlName="direccion" 
                                            required
                                            [ngClass]="{'is-invalid': despachoForm.get('direccion')?.invalid && despachoForm.get('direccion')?.touched}"
                                            placeholder="Ingresa tu dirección" 
                                            style="border-color:gray;"
                                            />
                                        <div class="invalid-feedback">Dirección es obligatoria.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="usuComuna" class="form-label">Comuna</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="usuComuna" 
                                            formControlName="comuna" 
                                            required 
                                            [ngClass]="{'is-invalid': despachoForm.get('comuna')?.invalid && despachoForm.get('comuna')?.touched}"
                                            placeholder="Ingresa tu comuna"
                                            style="border-color:gray;"
                                        />
                                        <div class="invalid-feedback">Comuna es obligatoria.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="usuRegion" class="form-label">Región</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="usuRegion" 
                                            formControlName="region" 
                                            required 
                                            [ngClass]="{'is-invalid': despachoForm.get('region')?.invalid && despachoForm.get('region')?.touched}"
                                            placeholder="Ingresa tu región"
                                            style="border-color:gray;"
                                        />
                                        <div class="invalid-feedback">Región es obligatoria.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="usuTelefono" class="form-label">Teléfono</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="usuTelefono" 
                                            formControlName="telefono" 
                                            required 
                                            [ngClass]="{'is-invalid': despachoForm.get('telefono')?.invalid && despachoForm.get('telefono')?.touched}"
                                            placeholder="Ingresa tu teléfono"
                                            style="border-color:gray;"
                                        />
                                        <div class="invalid-feedback">Teléfono debe contener 9 dígitos.</div>
                                    </div>
                                    <div class="col-12 text-center" style="padding-top: 20px;">
                                        <!-- <button type="submit" class="btn btn-success">Guardar Despacho</button>
                                        -->
                                        <button class="btn btn-success" *ngIf="!modoEdicion">Agregar despacho</button>
                                        <button class="btn btn-primary" *ngIf="modoEdicion">Guardar cambios</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive mt-4">
                            <h4 class="text-center">Datos guardados de despacho</h4>
                            <table class="table table-bordered" style="border-color: gray;">
                                <thead>
                                    <tr>
                                        <th>Dirección</th>
                                        <th>Comuna</th>
                                        <th>Región</th>
                                        <th>Teléfono</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-despacho" style="border-color: gray;">
                                    <tr *ngFor="let despachoCliente of despacho; let i= index">
                                        <td>{{ despachoCliente.direccion }}</td>
                                        <td>{{ despachoCliente.comuna }}</td>
                                        <td>{{ despachoCliente.region }}</td>
                                        <td>{{ despachoCliente.telefono }}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="editarDatosDespacho(i)">Editar</button>
                                            <!-- <button class="btn btn-danger" (click)="eliminarDespacho(despacho)">Eliminar</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</section>