<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
            <!-- Columna izquierda: Imágenes -->
            <div class="col-md-6">
                <div class="mb-3">
                    <img #mainImage 
                        id="mainImage" 
                        class="img-fluid border" 
                        src="assets/imgKids/lanzador-nerf-wild-wolfpack/01.jpg"
                        alt="Imagen principal" 
                        style="cursor: zoom-in;" />
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <img
                        *ngFor="let img of imagenes; let i = index"
                        class="thumbnail-img border" 
                        [src]="img"
                        alt="thumb"
                        width="190"
                        height="190" 
                        (click)="mostrarImagen(i)">
                    <!-- <img class="thumbnail-img border" src="../../assets/imgKids/lanzador-nerf-wild-wolfpack/02.jpg" alt="thumb3" width="190" height="190" style="cursor:pointer;">
                    <img class="thumbnail-img border" src="../../assets/imgKids/lanzador-nerf-wild-wolfpack/03.jpg" alt="thumb1" width="190" height="190" style="cursor:pointer;"> -->
                </div>
            </div>

            <!-- Columna derecha: Detalles -->
            <div class="col-md-6">                  
                <div class="small mb-1">SKU: G0031</div>
                <h1 class="display-5 fw-bolder">LANZADOR NERF WILD WOLFPACK</h1>
                <div class="fs-5 mb-5">
                    <span>$9.990</span>
                </div>
                <p class="lead">Los lanzadores Nerf Wild están diseñados con características especiales que facilitan el juego
                    para que los niños y las niñas disfruten jugando con estos llamativos lanzadores con diseño de lobo por su cuenta. 
                    Edad recomendada: A partir de 6 años. Son fáciles de sostener, caben cómodamente en las manos pequeñas de los niños y 
                    son livianos para cargarlos en los juegos al aire libre. El diseño de carga frontal permite introducir los dardos con 
                    facilidad, y las palancas requieren la menor cantidad de fuerza de todos los lanzadores Nerf. Todas estas características
                     permiten que los pequeños fans de Nerf vivan la emoción de lanzar dardos por su cuenta. Son perfectos para quienes se 
                     lanzan a las batallas de dardos Nerf por primera vez. ¡Nerf Wild Wolfpack incluye 2 lanzadores Nerf con un fantástico 
                     diseño que representa la apariencia y poder de los lobos! Cada colorido lanzador con forma de lobo tiene capacidad para
                      2 dardos y lanza 1 a la vez. El set incluye 20 dardos flexibles de espuma Nerf Elite. Se recomienda el uso de gafas (no incluidos).</p>
                <div class="d-flex">
                    <input 
                        #cantidadInput 
                        class="form-control text-center me-3"
                        type="number"
                        [(ngModel)]="cantidad"
                        min="1" 
                        style="max-width: 3rem" />
                    <button 
                        class="btn btn-outline-dark flex-shrink-0"
                        type="button"
                        (click)="agregarAlCarrito()">
                        <i class="bi-cart-fill me-1"></i>
                        AÑADIR AL CARRITO
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Productos relacionados</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/imgKids/lanzador-nerf-n-series-strikeback/01.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                                <h5 class="fw-bolder">LANZADOR NERF N SERIES STRIKEBACK</h5>
                                <!-- Product price-->
                                $27.990
                            </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark flex-shrink-0" 
                                    type="button" 
                                    (click)="agregarProductoRelacionadoAlCarrito({
                                            nombre: 'LANZADOR NERF N SERIES STRIKEBACK',
                                            precio: '$27.990',
                                            imagen: 'assets/imgKids/lanzador-nerf-n-series-strikeback/01.jpg',
                                            sku: 'G0219'
                                            })">
                                    <i class="bi-cart-fill me-1"></i>
                                    AÑADIR AL CARRITO
                            </button></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/imgKids/lanzador-nerf-n-series-shadow-storm/01.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">LANZADOR NERF N SERIES SHADOW STORM</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $30.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark flex-shrink-0" 
                                    type="button" 
                                    (click)="agregarProductoRelacionadoAlCarrito({
                                            nombre: 'LANZADOR NERF N SERIES SHADOW STORM',
                                            precio: '$30.990',
                                            imagen: 'assets/imgKids/lanzador-nerf-n-series-shadow-storm/01.jpg',
                                            sku: 'G0350'
                                            })">
                                    <i class="bi-cart-fill me-1"></i>
                                    AÑADIR AL CARRITO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">                
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/imgKids/dardos-nerf-n-series-80-unidades/01.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                        <!-- Product name-->
                            <h5 class="fw-bolder">DARDOS NERF N SERIES 80 UNIDADES</h5>
                            <!-- Product price-->
                            $9.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark flex-shrink-0" 
                                    type="button" 
                                    (click)="agregarProductoRelacionadoAlCarrito({
                                            nombre: 'DARDOS NERF N SERIES 80 UNIDADES',
                                            precio: '$9.990',
                                            imagen: 'assets/imgKids/dardos-nerf-n-series-80-unidades/01.jpg',
                                            sku: 'F8638'
                                            })">
                                    <i class="bi-cart-fill me-1"></i>
                                    AÑADIR AL CARRITO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/imgKids/lanzador-nerf-n-series-pack-triple-accion/01.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">LANZADOR NERF N SERIES PACK TRIPLE ACCIÓN</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">24.990</span>
                                $20.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark flex-shrink-0" 
                                    type="button" 
                                    (click)="agregarProductoRelacionadoAlCarrito({
                                            nombre: 'LANZADOR NERF N SERIES PACK TRIPLE ACCIÓN',
                                            precio: '$20.990',
                                            imagen: 'assets/imgKids/lanzador-nerf-n-series-pack-triple-accion/01.jpg',
                                            sku: 'F9841'
                                            })">
                                    <i class="bi-cart-fill me-1"></i>
                                    AÑADIR AL CARRITO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>