<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
        <!-- Columna izquierda: Imágenes -->
            <div class="col-md-12">
                <div>
                    <h1 class="text-center">Panel de Administración</h1>
                    <p class="text-center">Bienvenido al panel de administración de JUEGOS DE MESA. Aquí puedes gestionar los productos, pedidos y usuarios.</p>    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sección</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Productos</td>
                                    <td>Gestiona los productos disponibles en la tienda.</td>
                                    <td><a [routerLink]="['/prod-admin']" class="btn btn-primary">Ir a Productos</a></td>
                                </tr>
                                <tr>
                                    <td>Pedidos</td>
                                    <td>Revisa y gestiona los pedidos realizados por los usuarios.</td>
                                    <td><a href="pedidos.html" class="btn btn-primary">Ir a Pedidos</a></td>
                                </tr>
                                <tr>
                                    <td>Usuarios</td>
                                    <td>Administra los usuarios registrados en la tienda.</td>
                                    <td><a href="../usuarios/usuarios.html" class="btn btn-primary">Ir a Usuarios</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</section>