
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">¿Que quieres jugar hoy?</h1>
      <!-- <h2 class="masthead-subheading mb-0">Conoce nuestros entretenidos juguetes y juegos de mesa categorizados por edad.</h2>  -->
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Conoce más aqui</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-4 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">PREESCOLAR</h2>
            <p>Juegos didácticos para niños en etapa preescolar entre los 2 a 3 años.</p>
              <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href="preescolar/preescolar.html">Ver más</a> -->
               <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/preescolar">Ver más</a>
            </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-4">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">KIDS</h2>
          <p>Juguetes para niños y niñas para que vivan emocionantes momentos de juego y aprendizaje.</p>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/kids">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-4 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">FAMILIA</h2>
            <p>¿Quieres vencer a tu oponente? ¡Juega en familia! con Monopoly, Jenga o Adivina Quién?</p>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/familia">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-4">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/04.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">FANS</h2>
          <p>Figuras coleccionables de tus personajes favoritos.</p>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/fans">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

